@import "tailwindcss";

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
}

:root {
  --primary: #0A2E57;
  --secondary: #1682DB;
  --background: #fff;
}

@layer base {
  body {
    @apply bg-background
  }
  h1 {
    @apply text-4xl/normal lg:text-5xl/normal capitalize font-bold mb-2
  }
  h2 {
    @apply text-4xl/normal lg:text-3xl/normal capitalize font-bold mb-3
  }
  h3 {
    @apply text-3xl/normal lg:text-2xl/normal capitalize font-bold mb-3
  }
  p {
    @apply text-[19px]/8 lg:text-lg/8
  }
  li {
    @apply text-[19px]/8 lg:text-lg/8
  }
  .container {
    @apply container mx-auto px-5
  }
}