@import "tailwindcss";

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
}

:root {
  --primary: #0A2E57;
  --secondary: #1682DB;
  --background: #fff;
}

@layer base {
  body {
    @apply bg-background
  }
  h2 {
    @apply text-3xl capitalize font-bold mb-2
  }
  p {
    @apply text-lg
  }
}